<div id="wrapper">
  <div id="container">
    <div id="header">
      <div class="container">
        <div id="basketball"></div>
        <div class="title">
          <h1>Play By Play</h1>
          <h2>A live feed for dribbble</h2>
        </div>
      </div>
    </div>
    <div id="body">
      <div class="shadow left"></div>
      
				<%= render "feed" %>
      
      <div class="shadow right"></div>
    </div>
    <div id="footer">
      <div class="overlay">
        <p class="powered">Powered by, &nbsp; But not affiliated to</p>
        <p class="dribbble"><a href="http://dribbble.com" title="Dribbble">Dribbble</a></p>
        <ul>
					<li><a href="http://twitter.com/julek" title="">@julek</a></li>
          <li><a href="http://twitter.com/jon" title="">@jon</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
